{% extends 'base.html' %}
<!-- for your custom styles -->
{% block styles %}
<style>
    .leaderboard {
        border: 1px solid black;
    }
    .leaderboard-form {
        width: 300px;
    }
</style>

{% endblock %}
<!-- your html content in body -->
{% block content %}
<div>
    <h1>Dashboard</h1>
    <h2>Leaderboard</h2>
    <div class="d-flex flex-column leaderboard">
        <div class="d-flex">
            <form
                method="post"
                action="{{ url_for('dashboard.friends_leaderboard') }}"
                class="d-flex flex-column leaderboard-form"
            >
                <!-- CSRF Token  is required by the wtforms library -->
                {{ form.hidden_tag() }}
                <!-- button to friends -->
                <div class="btn">{{ form.friends }}</div>
                {% if not users_with_points and friends_with_points|length > 0
                %}
                <!-- monthly, yearly buttons -->
                <div id="friends-buttons-container" class="d-flex">
                    <input
                        type="submit"
                        name="friends_weekly"
                        value="Week"
                        class="btn btn-primary {% if points_period=='weekly' %}active{% endif %}"
                    />
                    <input
                        type="submit"
                        name="friends_monthly"
                        value="Month"
                        class="btn btn-primary {% if points_period=='monthly' %}active{% endif %}"
                    />
                    <input
                        type="submit"
                        name="friends_yearly"
                        value="Year"
                        class="btn btn-primary {% if points_period=='yearly' %}active{% endif %}"
                    />
                    <input type="hidden" name="action" id="action" />
                </div>
                {% endif %}
            </form>
            <form
                method="post"
                action="{{ url_for('dashboard.global_leaderboard') }}"
                class="d-flex flex-column leaderboard-form"
            >
                <!-- CSRF Token  is required by the wtforms library -->
                {{ form.hidden_tag() }}
                <!-- button to friends -->
                <div class="btn">{{ form.all_users }}</div>
                {% if not friends_with_points %}
                <!-- show only if getting users_with_points from the blueprint -->
                <!-- monthly, yearly buttons -->
                <div id="global-buttons-container" class="d-flex;">
                    <input
                        type="submit"
                        name="all_users_weekly"
                        value="Week"
                        class="btn btn-primary {% if points_period=='weekly' %}active{% endif %}"
                    />
                    <input
                        type="submit"
                        name="all_users_monthly"
                        value="Month"
                        class="btn btn-primary {% if points_period=='monthly'%}active{% endif %}"
                    />
                    <input
                        type="submit"
                        name="all_users_yearly"
                        value="Year"
                        class="btn btn-primary {% if points_period=='yearly' %}active{% endif %}"
                    />
                    <input type="hidden" name="action" id="action" />
                </div>
                {% endif %}
            </form>
        </div>
        <div>
            <!-- user[2] - index 2 is weekly points / 3 is monthly points / 4 is yearly points -->
            {% if users_with_points %} {% for user in users_with_points %}
            <div class="d-flex p-2">
                <p>{{ loop.index }}</p>
                <p>{{ user[1] }}</p>
                <p>{{ user[2] }}</p>
            </div>
            {% endfor %} {% else %}
            <p>empty</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
