{% extends 'base.html' %}
<!-- for your custom styles -->
{% block styles %}
<style>
    .friends-container,
    .friendships-container {
        height: 140px;
    }
</style>

{% endblock %}
<!-- your html content in body -->
{% block content %}
<h1>My friends</h1>
<div class="friends-container overflow-auto my-3">
    {% for approved_friend in approved_friends %}
    <div>{{ approved_friend[1] }}</div>
    {% endfor %}
</div>
<h1>Sent requests</h1>
<div class="friendships-container overflow-auto">
    {% for friendship_sent in friendships_sent %}
    <div class="d-flex align-items-center">
        <div class="pe-5">{{ friendship_sent[1] }}</div>

        <!-- TODO: CHANGE ONCE MERGED -->
        <form
            method="post"
            action="{{ url_for('friend-zone.display_friends') }}"
            class="d-flex ps-5"
        >
            <!-- CSRF Token  is required by the wtforms library -->
            {{ form.hidden_tag() }}
            <input
                type="submit"
                name="accept_friendship"
                value="Accept"
                class="btn"
            />
            <input
                type="submit"
                name="reject_friendship"
                value="Reject"
                class="btn"
            />
            <!-- pending_friend[0] is the friendship id -->
            <input
                type="hidden"
                value="{{ friendships_sent[0] }}"
                name="friendship_id"
            />
        </form>
    </div>
    {% endfor %}
</div>
<h1>Received requests</h1>
<div class="friendships-container overflow-auto">
    {% for friendship_received in friendships_received %}
    <div class="d-flex align-items-center">
        <div class="pe-5">{{ friendship_received[1] }}</div>

        <!-- TODO: CHANGE ONCE MERGED -->
        <form
            method="post"
            action="{{ url_for('friend-zone.display_friends') }}"
            class="d-flex ps-5"
        >
            <!-- CSRF Token  is required by the wtforms library -->
            {{ form.hidden_tag() }}
            <input
                type="submit"
                name="accept_friendship"
                value="Accept"
                class="btn"
            />
            <input
                type="submit"
                name="reject_friendship"
                value="Reject"
                class="btn"
            />
            <!-- pending_friend[0] is the friendship id -->
            <input
                type="hidden"
                value="{{ friendship_received[0] }}"
                name="friendship_id"
            />
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}
