{% extends 'base.html' %}

{% block content %}

<h3>Hello {{user.username}}!</h3>

{% if user.profile_picture %}
    <img src="{{ url_for('static', filename='profile_pics/' + user.profile_picture) }}" alt="Profile Picture" width="150">
{% else %}
    <img src="{{ url_for('static', filename='profile_pics/default.jpg') }}" alt="Default Profile Picture" width="150">
{% endif %}

{% if session['user_id'] == user.id %}
<a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
{% endif %}

<p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Location:</strong> {{ user.location }}</p>
    <p><strong>Age:</strong> {{ user.age }}</p>
    <p><strong>Weight:</strong> {{ user.weight }}</p>
    <p><strong>Height:</strong> {{ user.height }}</p>
    <p><strong>Fitness Level:</strong> {{ user.fitness_level }}</p>
    <p><strong>Favourite Exercise:</strong> {{ user.favourite_exercise }}</p>

    
    <h3>Your Friends</h3>
    {% if friends %}
        <ul>
            {% for friend in friends %}
                <li>
                    <a href="{{ url_for('users.profile', user_id=friend.id) }}">
                        {{ friend.username }}
                        {{ friend.location }}
                        {{ friend.age }}
                        {{ friend.fitness_level }}
                        {{ friend.favourite_exercise }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have no friends yet. <a href="/friends/find">Search for a workout buddy.</a> </p>
    {% endif %}

{% endblock %}
