{% extends 'base.html' %}

{% block content %}
<h2>Edit Your Profile</h2>

<form method="POST">
    {{ form.hidden_tag() }}
    
    <label>Username:</label>
    {{ form.username() }}
    
    <label>Email:</label>
    {{ form.email() }}

    <label>Password:</label>
    {{ form.password(placeholder="change password") }}

    <label>Confirm Password:</label>
    {{ form.confirm_password(placeholder="confirm new password") }}

    <label>Location:</label>
    {{ form.location(placeholder="location")}}

    <label>Age:</label>
    {{ form.age() }}

    <label>Weight:</label>
    {{ form.weight() }}

    <label>Height:</label>
    {{ form.height(placeholder="ft in (eg. 5.7)") }}

    <label>Fitness Level:</label>
    {{ form.fitness_level() }}

    <label>Favourite Exercise:</label>
    {{ form.favourite_exercise() }}

    <button type="submit">Update Profile</button>
</form>
{% endblock %}
