{% extends 'base.html' %}
<!-- for your custom styles -->
{% block styles %}
<style></style>

{% endblock %}
<!-- your html content in body -->
{% block content %}
<h1>My friends</h1>
<div>
    {% for approved_friend in approved_friends %}
    <div>{{ approved_friend[1] }}</div>
    {% endfor %}
</div>
<h1>Sent requests</h1>
<div>
    {% for pending_friend in pending_friends %}
    <div>{{ pending_friend[1] }}</div>
    {% endfor %}
    <!-- TODO: CHANGE ONCE MERGED -->
    <form method="post" action="{{ url_for('dashboard.display_friendlist') }}">
        <!-- CSRF Token  is required by the wtforms library -->
        {{ form.hidden_tag() }}
        <input
            type="submit"
            name="accept_friendship"
            value="Accept"
            class="btn"
        />
        <!-- jinja
                        type="submit"
                        name="all_users_weekly"
                        value="Weekly"
                        form
                        friends = SubmitField('friends')
                        friends_weekly = SubmitField('week')
                        friends_monthly = SubmitField('month')
                        friends_yearly = SubmitField('year')
                        all_users = SubmitField('global') 
    -->
        <input
            type="submit"
            name="reject_friendship"
            value="Reject"
            class="btn"
        />
    </form>
</div>
{% endblock %}
